<!DOCTYPE html>
<html>
<head>
    <style>
  
      body {
            background-image: url('templates/bck.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div style="padding-left:16px">
        <h1>
        Prediction of blood donation behaviour</h1>
        <p>
        The goal of this project is to develop a machine learning model that can predict the likelihood of individuals donating blood based on various factors. By analyzing historical data of blood donors, we aim to identify patterns and create a predictive model that can assist blood banks and organizations in targeting potential donors and improving blood supply management.
        The dataset used in this project consists of records of blood donors, including features such as recency (months since last donation), frequency (number of times donated), monetary (volume of blood donated), time (months since first donation), and the target variable indicating whether the donor donated blood in a specific period (e-g-, a particular month).
        The main objective of this project is to build a robust machine learning model that can accurately predict blood donation behavior. By analyzing the donor's historical data, including recency, frequency, monetary value, and time, the model will learn the patterns associated with blood donation and make predictions on whether a person is likely to donate blood in a given period.
        </p> </div> </body> </html>
</body>
</html>
 
